---
import Layout from "~/components/layouts/article/layout.astro";
import HeroLayout from "~/components/layouts/hero/layout.astro";
import { Section } from "~/components/ui";
import { api } from "~/lib/api";

export const getStaticPaths = async () => {
	const articles = await api.articles.getArticlesData();

	return articles.map(
		(article) =>
			({
				params: { slug: article.href },
				props: { article },
			}) as const,
	);
};

export type Props = Awaited<ReturnType<typeof getStaticPaths>>[number]["props"];

const { article } = Astro.props;
const { Content } = await article.render();
---

<Layout category={article.category}>
	<HeroLayout article={article} layout={article.layout} />
	<Section className="h-auto lg:h-auto">
		<div class="prose prose-quoteless mx-8 max-w-[90ch]">
			<Content />
		</div>
	</Section>
</Layout>
