---
import Layout from "~/components/layouts/article/layout.astro";
import HeroLayout from "~/components/layouts/hero/layout.astro";
import { Section } from "~/components/ui";
import { api } from "~/lib/api";
import type { ArticleData } from "~/lib/articles";

export const getStaticPaths = async () => {
	const articles = await api.articles.getArticlesData();

	return articles.map((article) => ({
		params: { slug: article.href },
		props: { article },
	}));
};

export type Props = {
	article: ArticleData;
};

const { article } = Astro.props;
const { Content } = await article.render();
---

<Layout category={article.category.id}>
	<HeroLayout article={article} layout={article.layout} />
	<Section className="h-auto lg:h-auto">
		<div class="prose prose-quoteless mx-8 max-w-[90ch]">
			<Content />
		</div>
	</Section>
</Layout>
