---
import "~/styles/globals.css";

// Font imports
import "~/styles/pp-neue-montreal.css";
import "~/styles/redaction.css";
import "~/styles/libre-caslon-condensed.css";

import Header from "./header.astro";

import Footer from "~/components/footer.astro";
import Head, { type Props as HeadProps } from "~/components/head.astro";

export type Props = HeadProps;

const { ...head } = Astro.props;
---

<!doctype html>
<html
	lang="ro"
	dir="auto"
	class="bg-background font-pp-neue-montreal text-foreground [word-break:break-word]"
>
	<Head {...head} />

	<body class="relative">
		<Header />

		<main class="mb-8 border-b border-b-foreground">
			<slot />
		</main>

		<Footer />
	</body>
</html>
